.GroupsPageHero {
  padding: 0 20px;
  padding-top: calc(var(--header-height) + 20px);
}

.GroupsPageHeroCircle {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10%;
  transform: translateY(-50%);
  top: 100%;
  z-index: 2;
}

.GroupsPageHeroCircle img {
  animation: 10s 'rotate' linear infinite;
  position: absolute;
  z-index: -1;
}

.GroupsPageHeroCircle div {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.GroupsPageHeroContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: 0 auto;
  max-width: calc(var(--content-max-width) - 40px);
  padding: 0 20px;
  position: relative;
}

.GroupsPageHeroContent > img {
  background-color: #ccc;
  border: 4px solid #eee;
  border-radius: 16px;
  filter: brightness(0.6);
  height: 100%;
  object-fit: cover;
  object-position: center 10%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.GroupsPageHeroContent h1 {
  color: white;
  font-size: 48px;
  padding: 20px;
}

.GroupsPageIntro {
  margin: 80px auto 140px;
  max-width: calc(var(--content-max-width) - 40px);
  overflow-x: clip;
  padding: 100px 220px 0;
  position: relative;
}

.GroupsPageIntro p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1000px;
}

.GroupsPageIntroLine {
  position: absolute;
  left: 0%;
  top: 0%;
  transform: translate(5%, -10%);
  width: 82%;
  z-index: -1;
}

.GroupsPageIntroCircle {
  border: 5px dashed #fd9f2b;
  border-radius: 50%;
  height: 200px;
  left: 0%;
  position: absolute;
  top: 0%;
  transform: translate(-76%, -10%);
  width: 200px;
  z-index: -1;
}

.GroupsPageSearch {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px;
  margin: 0 auto 80px;
  max-width: 800px;
  padding: 0 16px;
  width: 100%;
}

.GroupsPageSearch svg {
  height: 24px;
  width: 24px;
}

.GroupsPageSearch input {
  background: none;
  border: none;
  font-size: 16px;
  padding: 12px 0;
  width: 100%;
}

.GroupsPageSearch input::placeholder {
  color: #aaa;
}

.GroupsPageGroups {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 80px;
  max-width: 900px;
  padding: 0 20px;
}

.GroupsPageGroup {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 40px;
}

.GroupsPageGroup img {
  background-color: #ccc;
  border: 4px solid #eee;
  border-radius: 16px;
  filter: brightness(0.6);
  height: 200px;
  object-fit: cover;
  object-position: center 10%;
  width: 100%;
}

.GroupsPageGroupContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.GroupsPageGroup h3 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.GroupsPageGroup p {
  font-size: 16px;
  line-height: 1.5;
}

.GroupsPageGroup a {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border: none;
  border-radius: 50rem;
  box-shadow: 0 31px 19px 0 rgba(255, 185, 30, 0.35), 0 14px 14px 0 rgba(255, 185, 30, 0.28), 0 3px 8px 0 rgba(255, 225, 159, 0.28);
  color: white;
  display: flex;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  margin-top: auto;
  padding: 12px 24px;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  width: max-content;
}


