.UnderConstruction {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  min-height: 100vh;
  padding: 120px 20px 20px;
}

.UnderConstruction h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.UnderConstruction p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.UnderConstruction a {
  align-items: center;
  color: black;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
}

.UnderConstructionImage {
  width: 100%;
}
