.LivestreamPageBackground {
  background-color: #e8e8e8;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.LivestreamPageBackground div {
  align-items: center;
  bottom: 0;
  display: flex;
  gap: 16px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  width: max-content;
}

.LivestreamPageBackground div h2 {
  background-color: #fc8e33;
  border-radius: 50rem;
  color: white;
  font-size: 20px;
  padding: 8px 24px;
}

.LivestreamPageContent {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin: 0 auto;
  margin-top: calc(250px - var(--header-height));
  max-width: var(--content-max-width);
  padding: 100px 20px;
}

.LivestreamPageVideo {
  background-color: black;
  border-radius: 10px;
  height: 500px;
  overflow: hidden;
}

.LivestreamPageSidebar {
  display: flex;
  flex-direction: row-reverse;
}

.LivestreamPageSidebarControls {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.LivestreamPageSidebarControls li {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  gap: 8px;
  text-align: center;
}

.LivestreamPageSidebarControls li button {
  border: none;
  border-radius: 15px;
  background: rgba(255, 185, 30, 0.28);
  cursor: pointer;
  height: 64px;
  width: 64px;
}

.LivestreamPageSidebarControls li button svg {
  width: 40px;
}

.LivestreamPageSidebarControls li:nth-child(2) button svg {
  width: 32px;
}

.LivestreamPageChat {
  padding: 20px;
  width: 300px;
}

.LivestreamPageChatMessages li {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.LivestreamPageGive {
  padding: 20px;
  width: 300px;
}

.LivestreamPageShare {
  padding: 20px;
  width: 300px;
}

@media (max-width: 1024px) {
  .LivestreamPageBackground {
    height: 150px;
  }

  .LivestreamPageBackground div h2 {
    font-size: 14px;
  }

  .LivestreamPageContent {
    grid-template-columns: 1fr;
    margin-top: 120px;
    padding: 100px 0;
  }

  .LivestreamPageVideo {
    border-radius: 0;
  }

  .LivestreamPageSidebar {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
  }

  .LivestreamPageSidebarControls {
    flex-direction: row;
  }

  .LivestreamPageSidebarControls li {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    gap: 8px;
    text-align: center;
  }

  .LivestreamPageSidebarControls li button {
    border: none;
    border-radius: 15px;
    background: rgba(255, 185, 30, 0.28);
    cursor: pointer;
    height: 48px;
    width: 48px;
  }

  .LivestreamPageSidebarControls li button svg {
    height: 32px;
    width: 32px;
  }

  .LivestreamPageSidebarControls li:nth-child(2) button svg {
    width: 24px;
  }

  .LivestreamPageChat,
  .LivestreamPageGive,
  .LivestreamPageShare {
    padding: 20px;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .LivestreamPageVideo {
    height: 300px;
  }
}
