.LivestreamPageBackground {
  background-color: #e8e8e8;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.LivestreamPageBackground div {
  align-items: center;
  bottom: 0;
  display: flex;
  gap: 16px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  width: max-content;
}

.LivestreamPageBackground div h2 {
  background-color: #fc8e33;
  border-radius: 50rem;
  color: white;
  font-size: 20px;
  padding: 8px 24px;
}

.LivestreamPageContent {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin: 0 auto;
  margin-top: calc(250px - var(--header-height));
  max-width: var(--content-max-width);
  padding: 100px 20px;
}

.LivestreamPageVideo {
  background-color: black;
  border-radius: 10px;
  height: 500px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr max-content;
}

.LivestreamPageViewerStats {
  background-color: white;
  border-radius: 50rem;
  display: inline-block;
  font-weight: 500;
  padding: 4px 16px;
  margin: 16px;
  width: max-content;
}

.LivestreamPageViewerStats p{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

.LivestreamPageViewerStats p svg {
  height: 18px;
  width: 18px;
}

.LivestreamPageSidebar {
  display: flex;
  flex-direction: row-reverse;
  height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
}

.LivestreamPageSidebarControls {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
  position: sticky;
  top: 0;
}

.LivestreamPageSidebarControls li {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  gap: 8px;
  text-align: center;
}

.LivestreamPageSidebarControls li button {
  border: none;
  border-radius: 15px;
  background: rgba(255, 185, 30, 0.28);
  cursor: pointer;
  height: 64px;
  width: 64px;
}

.LivestreamPageSidebarControls li button svg {
  width: 40px;
}

.LivestreamPageSidebarControls li:nth-child(2) button svg {
  width: 32px;
}

.LivestreamPageChat h3,
.LivestreamPageGive h3,
.LivestreamPageShare h3 {
  font-weight: 600;
}

.LivestreamPageChat {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 0 20px;
  width: 500px;
}

.LivestreamPageChatMessages {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 300px;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.LivestreamPageChatMessages li {
  align-items: center;
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 8px;
  margin-bottom: 8px;
}

.LivestreamPageChatMessages li img {
  background-color: #eee;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

.LivestreamPageChatMessage {
  font-size: 13px;
}

.LivestreamPageChatForm {
  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr max-content;
  gap: 8px;
}

.LivestreamPageChatFormNoUser {
  display: grid;
}

.LivestreamPageChatForm img {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.LivestreamPageChatForm input {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50rem;
  height: 40px;
  padding: 8px;
  width: 100%;
}

.LivestreamPageChatFormNoUser button,
.LivestreamPageChatForm button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50rem;
  color: #444;
  cursor: pointer;
  font-weight: 600;
  height: 40px;
  padding: 0 20px;
}

.LivestreamPageChatFormNoUser button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.LivestreamPageChatFormNoUser button img {
  height: 20px;
  width: auto;
}

.LivestreamPageGive {
  padding: 0 0 0 20px;
  width: 500px;
}

.LivestreamPageShare {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 0 20px;
  width: 500px;
}

.LivestreamPageShare ul {
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.LivestreamPageShare ul li button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.GivePageAccounts {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin: 0 auto 32px;
  max-width: calc(var(--content-max-width) - 40px);
  padding: 0;
}

.GivePageAccountsToggle {
  align-items: center;
  border: 1px solid black;
  border-radius: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 8px;
  position: relative;
}

.GivePageAccountsToggleIndicator {
  background-color: #fd9f2b;
  border-radius: 50rem;
  height: calc(100% - 16px);
  left: 8px;
  position: absolute;
  transition: left 0.3s ease;
  width: calc(50% - 16px);
  z-index: -1;
}

.GivePageAccountsToggleIndicatorDomiciliary {
  left: calc(50% + 8px);
}

.GivePageAccountsToggleButton {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 12px;
}

.GivePageAccountsToggleButtonActive {
  color: white;
}

.GivePageAccounts ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.GivePageAccounts ul li {
  background-color: #ffecc0;
  border-radius: 16px;
  display: flex;
  min-height: 150px;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
}

.GivePageAccounts ul li img {
  background-color: white;
  border-radius: 16px;
  height: 60px;
  object-fit: cover;
  object-position: center 10%;
  width: 60px;
}

.GivePageAccounts ul li div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.GivePageAccounts ul li div:last-of-type {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.GivePageAccounts ul li div h3 {
  background-color: white;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: italic;
  padding: 4px 8px;
}

.GivePageAccounts ul li div:last-of-type h3 {
  background: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
}

.GivePageAccounts ul li div:last-of-type button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.GivePageAccounts ul li div:last-of-type button svg {
  height: 24px;
  width: 24px;
}

.GivePageAccounts ul li h4 {
  background-color: white;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  padding: 4px 8px;
}

.GiveOnline {
  overflow-x: clip;
}

.GiveOnlineContent {
  border: 3px dashed #fd9f2b;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  max-width: 1200px;
  padding: 40px;
  position: relative;
}

.GiveOnline div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.GiveOnline div h2 {
  font-size: 24px;
  max-width: 600px;
}

.GiveOnline div p {
  font-size: 16px;
  max-width: 600px;
  opacity: 0.8;
}

.GiveOnline svg {
  height: 50px;
  width: 50px;
}

.GiveOnline div button {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50rem;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  padding: 4px 24px;
  text-decoration: none;
  width: max-content;
}

.GiveOnline div button img {
  height: 40px;
  width: auto;
}

.LivestreamPageAdmin {
  padding: 20px;
  display: grid;
  gap: 16px;
  max-width: var(--content-max-width);
  margin: 0 auto 32px;
}

.LivestreamPageAdmin h3 {
  display: flex;
  gap: 4px;
}

.LivestreamPageAdminControls {
  display: flex;
  gap: 8px;
}

.LivestreamPageAdmin button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50rem;
  color: #444;
  cursor: pointer;
  font-weight: 600;
  height: 40px;
  padding: 0 20px;
}

.LivestreamPageAdmin form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
}

.LivestreamPageAdmin input {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50rem;
  height: 40px;
  padding: 8px;
}

.LivestreamPageNoStream {
  margin-top: 200px;
  padding: 100px 20px;
  display: flex;
  gap:8px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.LivestreamPageNoStream h1 {
  margin-top: 16px;
}

@media (max-width: 1024px) {
  .LivestreamPageBackground {
    display: none;
  }

  .LivestreamPageContent {
    grid-template-columns: 1fr;
    margin-top: var(--header-height);
    padding: 0;
  }

  .LivestreamPageVideo {
    border-radius: 0;
  }

  .LivestreamPageSidebar {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    height: max-content;
    margin: 32px 0;
  }

  .LivestreamPageSidebarControls {
    flex-direction: row;
  }

  .LivestreamPageSidebarControls li {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    gap: 8px;
    text-align: center;
  }

  .LivestreamPageSidebarControls li button {
    border: none;
    border-radius: 15px;
    background: rgba(255, 185, 30, 0.28);
    cursor: pointer;
    height: 48px;
    width: 48px;
  }

  .LivestreamPageSidebarControls li button svg {
    height: 32px;
    width: 32px;
  }

  .LivestreamPageSidebarControls li:nth-child(2) button svg {
    width: 24px;
  }

  .LivestreamPageChat,
  .LivestreamPageGive,
  .LivestreamPageShare {
    padding: 0 20px;
    width: 100%;
  }

  .LivestreamPageChatMessages {
    max-height: 350px;
  }

  .LivestreamPageAdmin {
    display: flex;
    flex-direction: column;
  }

  .LivestreamPageAdmin button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50rem;
    color: #444;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    padding: 0 20px;
  }
}

@media (max-width: 550px) {
  .LivestreamPageVideo {
    height: 300px;
  }

  .LivestreamPageAdmin form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .GivePageAccounts ul {
    grid-template-columns: 1fr;
  }

  .GiveOnlineContent {
    padding: 20px;
  }
}
