.EventsPageHero {
  padding: 0 20px;
  padding-top: calc(var(--header-height) + 20px);
}

.EventsPageHeroContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  justify-content: center;
  margin: 0 auto;
  max-width: calc(var(--content-max-width) - 40px);
  padding: 0 20px;
  position: relative;
}

.EventsPageHeroContent > img {
  background-color: #000;
  border-radius: 16px;
  filter: brightness(0.6);
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.EventsPageHeroContent h1 {
  color: white;
  font-size: 48px;
}

.EventsPageHeroSearch {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid #eee;
  border-radius: 50rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px;
  max-width: 600px;
  padding: 0 16px;
  width: 100%;
}

.EventsPageHeroSearch svg {
  height: 24px;
  width: 24px;
}

.EventsPageHeroContent input {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px 0;
  width: 100%;
}

.EventsPageHeroContent input::placeholder {
  color: #aaa;
}

.EventsPageContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 48px 20px;
  width: 100%;
}

.EventsPageContentLoading {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.EventsPageContent ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
}

.EventsPageContent ul li {
  align-items: center;
  border: 1px solid #e4e4e4;
  background-color: #ececec44;
  backdrop-filter: blur(16.685823440551758px);
  border-radius: 8px;
  flex: 0 0 calc(50% - 12px);
}

.EventsPageContent ul li img {
  backdrop-filter: blur(16.685823440551758px);
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 200px;
  object-fit: cover;
  object-position: center 82%;
  width: 100%;
}

.EventsPageContent ul li:nth-child(even) img {
  order: 2;
}

.EventsPageContent ul li > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 20px;
}

.EventsPageContent ul li > div h3 {
  font-size: 20px;
}

.EventsPageContent ul li > div p {
  color: #555;
  font-size: 14px;
}

.EventsPageContent ul li hr {
  border: none;
  border-top: 1px solid #e4e4e4;
}

.EventsPageContentDate,
.EventsPageContentTime {
  align-items: center;
  display: grid;
  font-size: 14px;
  grid-template-columns: 24px max-content;
  gap: 8px;
  justify-items: center;
}

.EventsPageContentDate svg,
.EventsPageContentTime svg {
  height: 20px;
  width: 20px;
}

.EventsPageContentEvents {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.EventsPageContentEventsSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 750px) {
  .EventsPageContent {
    padding: 24px 20px;
  }

  .EventsPageHero {
    padding: 0;
    padding-top: calc(var(--header-height));
  }

  .EventsPageHeroContent {
    height: 250px;
    padding: 0 10px;
  }

  .EventsPageHeroContent > img {
    border-radius: 0;
  }

  .EventsPageHeroContent h1 {
    font-size: 32px;
  }

  .EventsPageHeroSearch svg {
    height: 20px;
    width: 20px;
  }

  .EventsPageHeroSearch input {
    font-size: 14px;
  }

  .EventsPageContent ul li {
    flex: 1 1 100%;
  }

  .EventsPageContent ul li img {
    height: 200px;
  }

  .EventsPageContent ul li:nth-child(even) img {
    order: 0;
  }

  .EventsPageContentDate,
  .EventsPageContentTime {
    align-items: center;
    display: grid;
    font-size: 14px;
    grid-template-columns: 24px max-content;
    gap: 8px;
    justify-items: center;
  }
}
