.Loader {
  width: 100px;
  height: 16px;
  border-radius: 20px;
  background:
   linear-gradient(#fd9f2b 0 0) 0/0% no-repeat
   rgb(226, 238, 243);
  animation: l2 2s infinite steps(10);
}

@keyframes l2 {
  100% {background-size:110%}
}
