.StorePageHero {
  padding: 0 20px;
  padding-top: calc(var(--header-height) + 20px);
}

.StorePageHeroContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: 0 auto;
  max-width: calc(var(--content-max-width) - 40px);
  padding: 0 20px;
  position: relative;
}

.StorePageHeroContent > img {
  background-color: #ccc;
  border-radius: 16px;
  filter: brightness(0.4);
  height: 100%;
  object-fit: cover;
  object-position: center 10%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.StorePageHeroContent h1 {
  color: white;
  font-size: 48px;
  padding: 20px;
}

.StorePageHeroSearchCart {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 16px;
  max-width: 600px;
  position: relative;
  width: 100%;
}

.StorePageHeroSearchCart button {
  align-items: center;
  background: none;
  border: 1px solid white;
  border-radius: 50rem;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.StorePageHeroSearchCart button svg {
  height: 28px;
  width: 28px;
}

.StorePageHeroSearchCart span {
  align-items: center;
  background-color: #fd9f2b;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 16px;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: -16px;
  top: -16px;
  width: 32px;
}

.StorePageHeroSearch {
  align-items: center;
  border: 1px solid #eee;
  border-radius: 50rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px;
  padding: 0 16px;
  width: 100%;
}

.StorePageHeroSearch svg {
  height: 24px;
  width: 24px;
}

.StorePageHeroContent input {
  background: none;;
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px 0;
  width: 100%;
}

.StorePageHeroContent input::placeholder {
  color: #aaa;
}

.StorePageContent {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 100px 80px;
  width: 100%;
}

.StorePageContentHeader {
  align-items: center;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 16px;
  position: relative;
}

.StorePageContentHeader h2 {
  font-size: 40px;
}

.StorePageContentLine {
  left: 0%;
  top: 50%;
  transform: translate(0, 50%);
  width: 90%;
  z-index: -1;
}

.StorePageContentCircle {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translate(10%, -50%);
  z-index: -1;
}

.StorePageContent ul {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}

.StorePageContentBackground {
  background-color: #ffecc0;
  border-radius: 20px;
  height: 80%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  z-index: -1;
}

.StorePageContent ul li a {
  align-items: center;
  background-color: #555;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  height: 250px;
  text-decoration: none;
}

.StorePageContent ul li a h3 {
  color: white;
  font-size: 28px;
  text-align: center;
}
