.StorePageHero {
  padding: 0 20px;
  padding-top: calc(var(--header-height) + 20px);
  margin-bottom: 40px;
}

.StorePageHeroContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  justify-content: center;
  margin: 0 auto;
  max-width: calc(var(--content-max-width) - 40px);
  padding: 0 20px;
  position: relative;
}

.StorePageHeroContent > img {
  background-color: #ccc;
  border-radius: 16px;
  filter: brightness(0.4);
  height: 100%;
  object-fit: cover;
  object-position: center 10%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.StorePageHeroContent h1 {
  color: white;
  font-size: 48px;
}

.StorePageHeroSearchCart {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  max-width: 600px;
  position: relative;
  width: 100%;
}

.StorePageHeroSearch {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid #eee;
  border-radius: 50rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8px;
  max-width: 600px;
  padding: 0 16px;
  width: 100%;
}

.StorePageHeroSearch svg {
  height: 24px;
  width: 24px;
}

.StorePageHeroContent input {
  background: none;;
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px 0;
  width: 100%;
}

.StorePageHeroContent input::placeholder {
  color: #aaa;
}

@media (max-width: 768px) {
  .StorePageHero {
    padding: 0;
    padding-top: calc(var(--header-height));
  }

  .StorePageHeroContent {
    height: 250px;
    padding: 0 10px;
  }

  .StorePageHeroContent h1 {
    font-size: 32px;
  }

  .StorePageHero img {
    border-radius: 0;
  }
}
