.Footer {
  background-color: black;
  overflow: hidden;
}

.FooterContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 100px 20px 20px 20px;
}

.FooterContentLinks {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.FooterContentLinks div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 20%;
}

.FooterContentLinks div h3 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.FooterContentLinks div ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.FooterContentLinks div ul li a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.FooterContentSocials ul {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.FooterContentSocials ul li a {
  align-items: center;
  background-color: #fd9f2b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.FooterContentSocials ul li a svg {
  height: 24px;
  width: 24px;
}

.FooterContentSocials ul li:nth-child(3) a svg {
  height: 20px;
  width: 20px;
}

.FooterContentBottom {
  align-items: flex-end;
  display: flex;
  height: 150px;
  justify-content: flex-end;
  position: relative;
}

.FooterContentBottom h1 {
  bottom: -64px;
  color: black;
  font-size: 120px;
  font-weight: 400;
  left: -16px;
  line-height: 1;
  position: absolute;
  text-stroke-color: white;
  text-stroke-width: 3px;

  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 3px;
}

.FooterContentBottom div {
  align-items: center;
  display: flex;
  gap: 32px;
}

.FooterContentBottom div p,
.FooterContentBottom div a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .FooterContentLinks {
    flex-wrap: wrap;
    gap: 48px;
    justify-content: flex-start;
  }

  .FooterContentLinks div {
    width: 30%;
  }

  .FooterContentBottom {
    align-items: flex-start;
    flex-direction: column;
    gap: 48px;
    height: 400px;
  }

  .FooterContentBottom div {
    align-items: flex-end;
    align-self: flex-end;
    flex-direction: column;
    gap: 16px;
  }

  .FooterContentBottom div a,
  .FooterContentBottom div p {
    font-size: 14px;
    text-align: right;
  }

  .FooterContentBottom h1 {
    bottom: 48px;
    font-size: 60px;
  }
}

@media (max-width: 750px) {
  .FooterContent {
    padding: 64px 20px 20px 20px;
  }

  .FooterContentLinks {
    row-gap: 64px;
  }

  .FooterContentLinks div {
    width: 40%;
  }

  .FooterContentBottom h1 {
    bottom: 150px;
  }
}

@media (max-width: 450px) {
  .FooterContentLinks div {
    width: 100%;
  }
}
