.AboutPageBackground {
  background-color: #e8e8e8;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.AboutPageHero {
  padding: 0 20px;
  padding-top: calc(var(--header-height) + 20px);
  overflow-x: clip;
}

.AboutPageHeroContent {
  align-items: flex-end;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 0 20px;
  position: relative;
}

.AboutPageHeroCircle {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10%;
  transform: translateY(-50%);
  top: 100%;
  z-index: 2;
}

.AboutPageHeroCircle img {
  animation: 10s 'rotate' linear infinite;
  position: absolute;
  z-index: -1;
}

.AboutPageHeroCircle div {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.AboutPageHeroContent > img {
  background-color: black;
  border-radius: 16px;
  filter: brightness(0.6);
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center 10%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.AboutPageHeroContent h1 {
  color: white;
  font-size: 48px;
  padding: 20px;
}

.AboutPageOverview {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
  margin-top: 60px;
  max-width: var(--content-max-width);
  padding: 100px 20px;
}

.AboutPageOverview h2 {
  font-size: 32px;
}

.AboutPageOverview p {
  font-size: 18px;
}

.AboutPageWelcomeVideo {
  height: max-content;
  overflow-x: clip;
  padding: 0 20px;
  position: relative;
}

.AboutPageWelcomeVideoContainer {
  border-radius: 16px;
  height: 600px;
  margin: 0 auto;
  max-width: calc(var(--content-max-width) - 40px);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.AboutPageWelcomeVideo video {
  object-fit: cover;
  object-position: center top;
}

.AboutPageWelcomeVideo h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

.AboutPageWelcomeVideoBackground {
  background-color: #e8e8e8;
  height: 70%;
  left: 0;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: -1;
}

.AboutPageWelcomeVideoRotatedBackground {
  background-color: #e8e8e8;
  position: absolute;
  width: 150%;
  top: 110%;
  left: 50%;
  height: 500px;
  transform: rotate(-3deg) translate(-50%, -100%);
  z-index: -1;
}

.AboutPageWelcomeVideoBackgroundImage {
  position: absolute;
  left: 50%;
  top: 100%;
  transform:  rotate(3deg) translate(-50%, -50%);
  z-index: 1;
}

.AboutPageBearBurdens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 200px auto 0;
  max-width: var(--content-max-width);
  overflow-x: clip;
  padding: 100px 20px;
}

.AboutPageBearBurdens > svg {
  position: absolute;
  left: 40%;
  transform: translate(-40%, -65%);
  width: 100%;
  z-index: -2;
}

.AboutPageBearBurdensText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 400px;
  justify-content: center;
}

.AboutPageBearBurdensText h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.AboutPageBearBurdensText p {
  font-size: 18px;
  max-width: 580px;
}

.AboutPageBearBurdensImages {
  position: relative;
}

.AboutPageBearBurdensImages img:first-child {
  border-radius: 16px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  right: 200px;
  top: 200px;
  width: 250px;
  z-index: 1;
}

.AboutPageBearBurdensImages img:last-child {
  border-radius: 16px;
  height: 400px;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
}

.AboutPageBranches {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
  overflow-x: clip;
  padding: 100px 20px;
  position: relative;
}

.AboutPageBranchesBackground {
  background-color: rgba(255, 185, 30, 0.28);
  height: 60%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.AboutPageBranchesHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.AboutPageBranchesHeader h2 {
  font-size: 40px;
  text-align: center;
}

.AboutPageBranchesHeader p {
  max-width: 500px;
  text-align: center;
}

.AboutPageBranchesLoading {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.AboutPageBranchesContainer {
  margin: 0 auto;
  max-width: var(--content-max-width);
  width: 100%;
}

.AboutPageBranch {
  align-items: flex-end;
  background-color: #e5e5e5;
  border-radius: 8px;
  display: flex;
  flex: 0 0 300px;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  justify-content: center;
  overflow: hidden;
  padding: 24px;
  position: relative;
}

.AboutPageBranch img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.AboutPageBranch h3 {
  color: white;
  font-size: 24px;
  position: relative;
  text-align: center;
}

.AboutPageVision {
  display: grid;
  grid-template-columns: 1fr 32px 1fr;
  margin: 0 auto;
  max-width: var(--content-max-width);
  overflow-x: clip;
  padding: 100px 20px;
  position: relative;
}

.AboutPageVision h2 {
  font-size: 32px;
}

.AboutPageVision ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 3;
}

.AboutPageVision ul li {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 16px;
}

.AboutPageVision ul li h3 {
  align-items: center;
  border: 2px dashed #fd9f2b;
  border-radius: 50%;
  color: #fd9f2b;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.AboutPageVision ul li p {
  font-size: 18px;
  max-width: 500px;
}

.AboutPagePillars {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 100px 20px;
}

.AboutPagePillarsHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.AboutPagePillarsHeader h2 {
  font-size: 32px;
}

.AboutPagePillarsHeader p {
  color: #474747;
  font-size: 18px;
  max-width: 800px;
}

.AboutPagePillars ul {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}

.AboutPagePillars ul li {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  display: grid;
  gap: 24px;;
  grid-template-columns: 1fr 100px;
  padding: 24px;
  position: relative;
}

.AboutPagePillars ul li div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.AboutPagePillars ul li div h3 {
  font-size: 24px;
}

.AboutPagePillars ul li div p {
  color: #474747;
  font-size: 16px;
}

.AboutPagePillars ul li svg {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 100px;
}

.AboutPageWorship,
.AboutPageGathering,
.AboutPageCoreValues,
.AboutPageWhatWeDo {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 40px 20px;
  position: relative;
}

.AboutPageWorship h2,
.AboutPageGathering h2,
.AboutPageCoreValues h2,
.AboutPageWhatWeDo h2 {
  font-size: 32px;
}

.AboutPageWorship p,
.AboutPageGathering p,
.AboutPageCoreValues li,
.AboutPageWhatWeDo p {
  font-size: 20px;
}

.AboutPageWorship img,
.AboutPageGathering img,
.AboutPageCoreValues img,
.AboutPageWhatWeDo img {
  border-radius: 16px;
  height: 400px;
  object-fit: cover;
  object-position: center bottom;
  width: 100%;
}

.AboutPageWorship div,
.AboutPageGathering div,
.AboutPageCoreValues div,
.AboutPageWhatWeDo div {
  background-color: white;
  border-radius: 16px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  padding: 24px;
  position: absolute;
  right: 48px;
  width: 100%;
}

.AboutPageCoreValues div ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: disc;
  padding-left: 20px;
}

.AboutPageGathering div,
.AboutPageWhatWeDo div {
  left: 40px;
}

.AboutPagePeopleAfterGodsHeart {
  align-items: flex-end;
  display: flex;
  height: 600px;
  margin: 200px auto 100px;
  max-width: calc(  var(--content-max-width) - 40px);
  padding: 100px 20px;
  position: relative;
  width: calc(100% - 40px);
}

.AboutPagePeopleAfterGodsHeartCircle {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0%;
  z-index: 2;
}

.AboutPagePeopleAfterGodsHeartCircle img {
  animation: 10s 'rotate' linear infinite;
  position: absolute;
  z-index: -1;
}

.AboutPagePeopleAfterGodsHeartCircle div {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.AboutPagePeopleAfterGodsHeart > img {
  border-radius: 16px;
  filter: brightness(0.6);
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.AboutPagePeopleAfterGodsHeartContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  text-align: center;
}

.AboutPagePeopleAfterGodsHeartContent h1 {
  color: white;
  font-size: 60px;
}

.AboutPagePeopleAfterGodsHeartContent p {
  color: white;
  max-width: 500px;
  font-size: 18px;
}

.AboutPagePeopleAfterGodsHeartContent a {
  align-items: center;
  background: linear-gradient(182deg, #FFF 15.32%, #EEF4FF 98.7%);
  border: 1px solid #f0f6ff;
  border-radius: 50rem;
  color: black;
  grid-column: 2;
  display: flex;
  height: 58px;
  justify-content: center;
  text-decoration: none;
  width: 220px;
}

@media (max-width: 1100px) {
  .AboutPageHeroCircle {
    right: 15%;
  }

  .AboutPageHeroCircle div {
    height: 60px;
    width: 60px;
  }

  .AboutPageHeroCircle img {
    width: 150px;
  }

  .AboutPageHeroCircle svg {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 950px) {
  .AboutPageBearBurdens {
    gap: 64px;
    grid-template-columns: 1fr;
    padding: 40px 20px 120px;
    margin: 100px 0 0;
  }

  .AboutPageBearBurdensText{
    gap: 16px;
    height: max-content;
  }

  .AboutPageBearBurdens > svg {
    display: none;
  }

  .AboutPageBearBurdensImages {
    margin-left: auto;
    max-width: 650px;
    width: 100%;
  }

  .AboutPageBearBurdensImages img:first-child {
    position: relative;
    right: 0;
  }

  .AboutPageBearBurdensImages img:last-child {
    right: 0;
    max-width: 100%;
  }

  .AboutPageBranches {
    padding: 60px 20px;
  }
}

@media (max-width: 850px) {
  .AboutPageHeroContent {
    height: 300px;
    padding: 0;
  }

  .AboutPageHero h1 {
    font-size: 32px;
    max-width: 400px;
  }

  .AboutPageOverview {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .AboutPageWelcomeVideo h2 {
    font-size: 24px;
  }

  .AboutPageVision {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 20px;
  }

  .AboutPageVision ul {
    grid-column: 1;
  }

  .AboutPagePillars {
    padding: 60px 20px;
  }

  .AboutPagePillars ul {
    grid-template-columns: 1fr;
  }

  .AboutPageWorship,
  .AboutPageGathering,
  .AboutPageCoreValues,
  .AboutPageWhatWeDo {
    padding: 20px;
  }

  .AboutPageWorship div,
  .AboutPageGathering div,
  .AboutPageCoreValues div,
  .AboutPageWhatWeDo div {
    max-width: none;
    padding: 20px 10px;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
  }

  .AboutPageWorship img,
  .AboutPageGathering img,
  .AboutPageCoreValues img,
  .AboutPageWhatWeDo img {
    height: 200px;
  }
}

@media (max-width: 650px) {
  .AboutPageHero {
    padding: 0;
  }

  .AboutPageBackground {
    background-color: black;
  }

  .AboutPageHeroContent > img {
    border-radius: 0;
  }

  .AboutPageOverview h2 {
    font-size: 24px;
  }

  .AboutPageOverview p {
    font-size: 14px;
  }

  .AboutPageWelcomeVideoContainer {
    height: 300px;
  }

  .AboutPageBearBurdens h2 {
    font-size: 24px;
  }

  .AboutPageBearBurdens p {
    font-size: 14px;
  }

  .AboutPageBranches h2 {
    font-size: 24px;
  }

  .AboutPageBranches p {
    font-size: 14px;
  }

  .AboutPageBranches ul li {
    flex: 0 0 250px;
    height: 300px;
  }

  .AboutPageBranches ul li h3 {
    font-size: 20px;
  }

  .AboutPageVision h2 {
    font-size: 24px;
  }

  .AboutPageVision ul li h3 {
    font-size: 16px;
    height: 28px;
    width: 28px;
  }

  .AboutPageVision ul li p {
    font-size: 14px;
  }

  .AboutPagePillars h2 {
    font-size: 24px;
  }

  .AboutPagePillars p {
    font-size: 14px;
  }

  .AboutPagePillars ul li {
    grid-template-columns: 1fr 40px;
  }

  .AboutPagePillars ul li div h3 {
    font-size: 20px;
  }

  .AboutPagePillars ul li div p {
    font-size: 14px;
  }

  .AboutPagePillars ul li svg {
    width: 80px;
  }

  .AboutPageWorship div,
  .AboutPageGathering div,
  .AboutPageCoreValues div,
  .AboutPageWhatWeDo div {
    gap: 8px;
  }

  .AboutPageCoreValues div {
    max-width: 250px;
  }

  .AboutPageWorship h2,
  .AboutPageGathering h2,
  .AboutPageCoreValues h2,
  .AboutPageWhatWeDo h2 {
    font-size: 20px;
  }

  .AboutPageWorship p,
  .AboutPageGathering p,
  .AboutPageCoreValues p,
  .AboutPageWhatWeDo p,
  .AboutPageCoreValues div ul li {
    font-size: 14px;
  }

  .AboutPagePeopleAfterGodsHeart {
    height: 400px;
    padding: 20px;
  }

  .AboutPagePeopleAfterGodsHeartCircle img {
    width: 150px;
  }

  .AboutPagePeopleAfterGodsHeartCircle div {
    height: 60px;
    width: 60px;
  }

  .AboutPagePeopleAfterGodsHeartCircle svg {
    height: 40px;
    width: 40px;
  }

  .AboutPagePeopleAfterGodsHeart h1 {
    font-size: 32px;
  }

  .AboutPagePeopleAfterGodsHeart p {
    font-size: 14px;
  }

  .AboutPagePeopleAfterGodsHeartContent a {
    font-size: 14px;
    height: 48px;
    width: 180px;
  }
}

@media (max-width: 500px) {
  .AboutPageHero h1 {
    padding: 60px 20px;
  }
}
