.HomePageGrayBackgroundSection {
  height: max-content;
  overflow-x: clip;
  position: relative;
}

.HomePageGrayBackground {
  background-color: #e8e8e8;
  height: 45%;
  left: 0;
  position: absolute;
  top: 42%;
  width: 100%;
  z-index: -1;
}

.HomePageGrayRotatedBackground {
  background-color: #e8e8e8;
  position: absolute;
  width: 150%;
  top: 100%;
  left: 50%;
  height: 500px;
  transform: rotate(-3deg) translate(-50%, -100%);
  z-index: -1;
}

.HomePageGraybackgroundSectionImage {
  position: absolute;
  left: 50%;
  top: 100%;
  transform:  rotate(3deg) translate(-50%, -50%);
  z-index: 1;
}

.HomePageHero {
  background-color: #444;
  align-items: flex-end;
  display: flex;
  height: 100vh;
  max-height: 750px;
  overflow-x: clip;
}

.HomePageHeroVideo {
  filter: brightness(0.3);
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.HomePageHeroFallbackImage {
  background-color: black;
  filter: brightness(0.3);
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.HomePageHeroContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 100px 20px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.HomePageHeroCircle {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10%;
  transform: translateY(-50%);
  top: 100%;
  z-index: 2;
}

.HomePageHeroCircle img {
  animation: 10s 'rotate' linear infinite;
  position: absolute;
  z-index: -1;
}

.HomePageHeroCircle div {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.HomePageHeroContent h1 {
  color: white;
  font-size: 54px;
  font-weight: 600;
  max-width: 500px;
}

.HomePageHeroContent p {
  color: white;
  font-size: 24px;
  max-width: 700px;
}

.HomePageHeroContentActions {
  align-items: center;
  display: flex;
  gap: 16px;
}

.HomePageHeroContentActions a {
  align-items: center;
  border-radius: 50rem;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  padding: 16px 24px;
  text-decoration: none;
  width: 200px;
}

.HomePageHeroContentActions a svg {
  height: 20px;
  width: 20px;
}

.HomePageHeroContentActions a:first-child {
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  box-shadow: 0 31px 19px 0 rgba(255, 185, 30, 0.35), 0 14px 14px 0 rgba(255, 185, 30, 0.28), 0 3px 8px 0 rgba(255, 225, 159, 0.28);
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.HomePageHeroContentActions a:last-child {
  background-color: white;
  color: black;
}

.HomePageAbout {
  background-color: white;
}

.HomePageAboutContent {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 32px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 100px 20px;
}

.HomePageAboutContent svg {
  height: 40px;
  width: 40px;
}

.HomePageAboutContent div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.HomePageAboutContent h2 {
  font-size: 32px;
  font-weight: 400;
  max-width: 900px;
}

.HomePageAboutContent p {
  font-size: 18px;
  opacity: 0.7;
}

.HomePageAboutContent a {
  align-items: center;
  background: linear-gradient(182deg, #FFF 15.32%, #EEF4FF 98.7%);
  border: 1px solid #f0f6ff;
  border-radius: 50rem;
  color: black;
  grid-column: 2;
  display: flex;
  height: 58px;
  justify-content: center;
  text-decoration: none;
  width: 220px;
}

.HomePageSellingPoints ul {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 0 20px 100px;
}

.HomePageSellingPoints ul li {
  border-radius: 16px;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  overflow: hidden;
  padding: 32px;
  position: relative;
}

.HomePageSellingPoints ul li img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.HomePageSellingPoints ul li svg {
  width: 64px;
  position: relative;
}

.HomePageSellingPoints ul li div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.HomePageSellingPoints ul li h3 {
  color: white;
  font-size: 32px;
  font-weight: 400;
}

.HomePageSellingPoints ul li p {
  color: white;
  font-size: 18px;
  opacity: 0.8;
}

.HomePageLatestSermon {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 100px 20px;
}

.HomePageLatestSermon h2 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.HomePageLatestSermon > div {
  background-color: white;
  border-radius: 8px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
  padding: 24px;
  width: 100%;
}

.HomePageLatestSermon > div img {
  background-color: #e8e8e8;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  height: 350px;
  object-fit: cover;
  width: 100%;
}

.HomePageLatestSermon ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.HomePageLatestSermon ul li:last-child {
  align-items: center;
  display: flex;
  gap: 16px;
}

.HomePageLatestSermon ul li h4 {
  border-bottom: 1px solid #d6d6d6;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.9;
}

.HomePageLatestSermon ul li h3 {
  font-size: 24px;
  font-weight: 400;
}

.HomePageLatestSermon ul li a {
  align-items: center;
  border-radius: 50rem;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  padding: 16px 24px;
  text-decoration: none;
  width: 200px;
}

.HomePageLatestSermon ul li a svg {
  height: 20px;
  width: 20px;
}

.HomePageLatestSermon ul li a:first-child {
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  box-shadow: 0 31px 19px 0 rgba(255, 185, 30, 0.35), 0 14px 14px 0 rgba(255, 185, 30, 0.28), 0 3px 8px 0 rgba(255, 225, 159, 0.28);
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.HomePageLatestSermon ul li a:last-child {
  align-items: center;
  background: linear-gradient(182deg, #FFF 15.32%, #EEF4FF 98.7%);
  border: 1px solid #f0f6ff;
  color: black;
  grid-column: 2;
  display: flex;
  height: 58px;
  justify-content: center;
  text-decoration: none;
  width: 220px;
}

.HomePageServiceTimes {
  margin: 300px auto;
  max-width: var(--content-max-width);
  padding: 0 20px;
  position: relative;
}

.HomePageServiceTimes > svg {
  position: absolute;
  left: 40%;
  transform: translate(-50%, -65%);
  width: 100%;
  z-index: -2;
}

.HomePageServiceTimes h2 {
  font-size: 32px;
  margin-bottom: 100px;
  position: relative;
  width: max-content;
}

.HomePageServiceTimes h2:after {
  background-color: rgba(255, 185, 30, 0.28);
  border-radius: 50rem;
  content: '';
  display: block;
  height: 160%;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  transform: translate(40%, -50%);
  width: 80%;
}

.HomePageServiceTimes h3 {
  font-size: 24px;
}

.HomePageServiceTimes h4 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 400;
}

.HomePageServiceTimes h4 svg {
  width: 24px;
  height: 24px;
}

.HomePageServiceTimes h5 {
  font-size: 24px;
  font-weight: 400;
}

.HomePageServiceTimesSunday1 {
  background-color: white;
  border: 1px solid black;
  border-radius: 16px;
  height: 300px;
  padding: 32px 24px;
  position: relative;
  width: 350px;
}

.HomePageServiceTimesSunday1 div {
  align-items: center;
  background: rgba(255, 185, 30, 0.28);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 50%;
  padding: 24px;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 110%;
}

.HomePageServiceTimesSunday2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 50%;
  position: absolute;
  top: 75%;
  transform: translateX(-50%);
  width: 350px;
}

.HomePageServiceTimesSunday2 h3 {
  border: 1px solid black;
  border-radius: 16px;
  padding: 32px 24px;
}

.HomePageServiceTimesSunday2 div {
  align-items: center;
  background: rgba(255, 185, 30, 0.28);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 50%;
  padding: 24px;
}

.HomePageServiceTimesWednesday {
  background-color: white;
  border: 1px solid black;
  border-radius: 16px;
  height: 300px;
  padding: 32px 24px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-10%);
  width: 350px;
}

.HomePageServiceTimesWednesday div {
  align-items: center;
  background: rgba(255, 185, 30, 0.28);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 50%;
  padding: 24px;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 110%;
}

.HomePageAddress {
  background: rgba(255, 185, 30, 0.28);
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin: 100px 0;
  position: relative;
  width: 80%;
}

.HomePageAddress div {
  margin: 0 auto;
  max-width: 1100px;
  padding: 64px;
}

.HomePageAddress div h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 16px;
  max-width: 500px;
}

.HomePageAddress img {
  position: absolute;
  left: 50%;
  top: -10%;
  width: 400px;
}

.HomePageAddress a {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 20px;
  gap: 8px;
  text-decoration: underline;
  text-underline-offset: 8px;
  width: max-content;
}

.HomePageAddress a svg {
  width: 16px;
  height: 16px;
}

.HomePageEvents {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  overflow-x: clip;
  padding: 100px 0;
  position: relative;
}

.HomePageEventsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.HomePageEventsHeader h2 {
  font-size: 32px;
}

.HomePageEventsHeader a {
  align-items: center;
  color: black;
  display: flex;
  font-size: 18px;
  gap: 8px;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.HomePageEventsHeader a svg {
  width: 16px;
  height: 16px;
}

.HomePageEventsLine {
  position: absolute;
  left: 0%;
  top: 33%;
  transform: translate(-5%, 0%);
  width: 100%;
  z-index: -1;
}

.HomePageEventsCircle {
  position: absolute;
  right: -1%;
  top: 62%;
  z-index: -1;
}

.HomePageEventsContent {
  align-items: center;
  background-color: white;
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr auto;
  padding: 0 20px;
}

.HomePageEventsNoEvents {
  padding: 20px;
}

.HomePageEventsLoading {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.HomePageEventsContent button {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 0;
  width: 32px;
}

.HomePageEvents ul {
  border-radius: 8px;
  display: flex;
  gap: 24px;
  overflow: hidden;
  scrollbar-width: none;
}

.HomePageEvents ul li {
  align-items: start;
  background-color: #e5e5e5;
  border-radius: 8px;
  display: grid;
  flex: 0 0 auto;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  padding: 24px;
}

.HomePageEvents ul li img {
  background-color: black;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  height: 300px;
  object-fit: contain;
  width: 100%;
}

.HomePageEvents ul li > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.HomePageEvents ul li > div h3 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.HomePageEventsDate,
.HomePageEventsTime {
  align-items: center;
  display: grid;
  font-size: 16px;
  grid-template-columns: 24px max-content;
  gap: 4px;
  justify-items: center;
}

.HomePageEventsCountdown {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 120px 20px 0;
}

.HomePageEventsCountdown h4 {
  font-size: 24px;
}

.HomePageEventsCountdownTimer {
  align-items: center;
  display: flex;
  gap: 32px;
}

.HomePageEventsCountdownTimerItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.HomePageEventsCountdownTimerItem div {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.HomePageEventsCountdownTimerItem div h3 {
  align-items: center;
  background: linear-gradient(180deg, #FC8E3388 0%, rgba(0, 0, 0, 0.10) 100%);
  backdrop-filter: blur(16.685823440551758px);
  border: 0.5px solid #000;
  border-radius: 4px;
  display: flex;
  font-family: 'Digital Numbers', sans-serif;
  font-size: 28px;
  height: 80px;
  justify-content: center;
  width: 50px;
}

.HomePageEventsMobileLink {
  display: none;
}

.HomePagePrayers {
  overflow-x: clip;
  padding: 20px;
}

.HomePagePrayersContent {
  border: 4px dashed #fd9f2b;
  border-bottom: 4.5px dashed #fd9f2b;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  margin: 100px auto;
  max-width: 1200px;
  min-height: 500px;
  padding: 40px;
  position: relative;
}

.HomePagePrayersHands {
  background-color: white;
  padding: 48px 24px;
  position: absolute;
  right: -10%;
  top: 30%;
}

.HomePagePrayers div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

.HomePagePrayers div h2 {
  font-size: 32px;
  font-weight: 600;
  max-width: 600px;
}

.HomePagePrayers div p {
  font-size: 18px;
  max-width: 600px;
  opacity: 0.8;
}

.HomePagePrayers div button {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border: none;
  box-shadow: 0 31px 19px 0 rgba(255, 185, 30, 0.35), 0 14px 14px 0 rgba(255, 185, 30, 0.28), 0 3px 8px 0 rgba(255, 225, 159, 0.28);
  color: white;
  border-radius: 50rem;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  padding: 16px 24px;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  width: max-content;
}

.HomePageSneakPeek {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px 0;
}

.HomePageSneakPeek h2 {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  text-align: center;
}

.HomePageSneakPeek ul {
  display: flex;
  gap: 24px;
  justify-content: center;
  overflow: hidden;
  padding: 40px 0;
  scrollbar-width: none;
}

.HomePageSneakPeek ul li {
  flex: 0 0 300px;
}

.HomePageSneakPeek ul li img {
  background-color: #d6d6d6;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease;
  width: 100%;
}

.HomePageSneakPeek ul li img:hover {
  transform: scale(1.05);
}

.HomePageLeadership {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 20px;
}

.HomePageLeadership h2 {
  font-size: 36px;
}

.HomePageLeadershipContent {
  background-color: #e5e5e5;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 40px;
  position: relative;
}

.HomePageLeadershipContentMain {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.HomePageLeadershipContentMain h3 {
  font-size: 24px;
}

.HomePageLeadershipContentMain p {
  font-size: 16px;
  opacity: 0.8;
}

.HomePageLeadershipContentMain a {
  align-items: center;
  background: linear-gradient(182deg, #FFF 15.32%, #EEF4FF 98.7%);
  border: 1px solid #f0f6ff;
  border-radius: 50rem;
  color: black;
  grid-column: 2;
  display: flex;
  height: 58px;
  justify-content: center;
  text-decoration: none;
  width: 220px;
}

.HomePageLeadershipContent img {
  border-radius: 16px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 45%;
}

.HomePageTestimonies {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 100px 20px;
}

.HomePageTestimoniesHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.HomePageTestimoniesHeader h2 {
  font-size: 40px;
  max-width: 400px;
  text-align: center;
}

.HomePageTestimonies ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin: 0 auto;
  max-width: 950px;
}

.HomePageTestimonies ul li {
  border: 4px dashed #fd9f2b;
  border-bottom: 3.5px dashed #fd9f2b;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.HomePageTestimonies ul li svg {
  width: 40px;
  height: 40px;
  margin: 16px 0;
}

.HomePageTestimonies ul li div {
  align-items: center;
  display: flex;
  gap: 12px;
}

.HomePageTestimonies ul li div img {
  border: 3px dashed #fd9f2b;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
  padding: 10px;
  width: 40px;
}

.HomePageTestimonies ul li div h4 {
  font-size: 18px;
  font-weight: 500;
}

.HomePageTestimonies > button {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border: none;
  box-shadow: 0 31px 19px 0 rgba(255, 185, 30, 0.35), 0 14px 14px 0 rgba(255, 185, 30, 0.28), 0 3px 8px 0 rgba(255, 225, 159, 0.28);
  color: white;
  border-radius: 50rem;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  margin: 0 auto;
  padding: 16px 24px;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  width: max-content;
}

.HomePageFeedback {
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto 100px;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  padding: 40px;
}

.HomePageFeedback img {
  border-radius: 16px;
  filter: brightness(0.7);
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  width: 96%;
  z-index: -1;
}

.HomePageFeedbackText {
  align-items: flex-end;
  display: flex;
}

.HomePageFeedbackText h2 {
  color: white;
  font-size: 48px;
  line-height: 1.1;
}

.HomePageFeedback form {
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  padding: 24px;
  width: 100%;
}

.HomePageFeedback form div {
  display: flex;
  flex-direction: column;
}

.HomePageFeedback form div h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.HomePageFeedback form div p {
  color: #666;
  font-size: 14px;
}

.HomePageFeedback form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.HomePageFeedback form label input {
  border: 1px solid #e5e5e5;
  border-radius: 50rem;
  padding: 12px;
}

.HomePageFeedback form label input {
  border: 1px solid #e5e5e5;
  border-radius: 50rem;
  padding: 16px 24px;
}

.HomePageFeedback form label textarea {
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 16px 24px;
  resize: none;
}

.HomePageFeedback form button {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border: none;
  box-shadow: 0 31px 19px 0 rgba(255, 185, 30, 0.35), 0 14px 14px 0 rgba(255, 185, 30, 0.28), 0 3px 8px 0 rgba(255, 225, 159, 0.28);
  color: white;
  border-radius: 50rem;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  height: 40px;
  justify-content: center;
  padding: 0 24px;
}

.HomePageFeedback form button:disabled {
  background: #ccc;
  box-shadow: none;
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .HomePageServiceTimes {
    display: grid;
    gap: 48px;
    margin: 120px auto;
  }

  .HomePageServiceTimes h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .HomePageServiceTimes > svg {
    display: none;
  }

  .HomePageServiceTimesSunday1,
  .HomePageServiceTimesSunday2,
  .HomePageServiceTimesWednesday {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    transform: none;
    width: 100%;
  }

  .HomePageServiceTimesSunday2 {
    grid-row: 3;
  }

  .HomePageServiceTimesSunday1 div,
  .HomePageServiceTimesSunday2 div,
  .HomePageServiceTimesWednesday div {
    left: 0;
    position: relative;
    top: 0;
    transform: none;
    width: 100%;
  }

  .HomePageServiceTimes h3 {
    font-size: 20px;
  }

  .HomePageServiceTimes h3 br {
    display: none;
  }

  .HomePageServiceTimes h4 {
    font-size: 20px;
  }

  .HomePageServiceTimes h4 svg {
    width: 20px;
    height: 20px;
  }

  .HomePageServiceTimes h5 {
    font-size: 20px;
  }

  .HomePageAddress {
    padding-right: 20px;
    width: 90%;
  }

  .HomePageAddress div {
    display: grid;
    grid-template-columns: 1fr;
    padding: 64px 20px;
  }

  .HomePageAddress div h2 {
    font-size: 32px;
    max-width: 100%;
  }

  .HomePageAddress img {
    grid-row: 1;
    left: 0;
    max-width: 300px;
    position: relative;
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .HomePageHeroCircle {
    right: 10%;
  }

  .HomePageHeroCircle div {
    height: 60px;
    width: 60px;
  }

  .HomePageHeroCircle img {
    width: 150px;
  }

  .HomePageHeroCircle svg {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 900px) {
  .HomePagePrayersContent {
    margin: 40px 0;
    min-height: 400px;
    padding: 24px;
  }

  .HomePagePrayersContent > svg:first-of-type {
    height: 70px;
    width: 70px;
  }

  .HomePagePrayersContent div h2 {
    font-size: 24px;
    max-width: 100%;
  }

  .HomePagePrayersContent div p {
    font-size: 14px;
    max-width: 70%;
  }

  .HomePagePrayersContent div a {
    padding: 12px 16px;
    font-size: 14px;
  }

  .HomePagePrayersHands {
    width: 200px;
  }

  .HomePageLeadershipContent {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .HomePageLeadershipContent img {
    grid-row: 1;
    height: 400px;
    object-position: center 10%;
    position: relative;
    right: 0;
    top: 0;
    transform: none;
    width: 100%;
  }

  .HomePageTestimonies ul {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  .HomePageGrayBackground {
    top: 51%;
  }

  .HomePageHero {
    max-height: 700px;
  }

  .HomePageHeroContent h1 {
    font-size: 32px;
    max-width: 400px;
  }

  .HomePageHeroContent p {
    font-size: 16px;
    max-width: 500px;
  }

  .HomePageHeroContentActions a {
    width: 150px;
    padding: 12px 16px;
    font-size: 14px;
  }

  .HomePageAboutContent {
    gap: 16px;
    grid-template-columns: 1fr;
    padding: 120px 20px 90px;
  }

  .HomePageAboutContent svg {
    height: 30px;
    width: 30px;
  }

  .HomePageAboutContent h2 {
    font-size: 24px;
  }

  .HomePageAboutContent p {
    font-size: 16px;
  }

  .HomePageAboutContent a {
    height: 48px;
    padding: 12px 32px;
    font-size: 14px;
    grid-column: 1;
    width: max-content;
  }

  .HomePageSellingPoints ul {
    flex-direction: column;
  }

  .HomePageSellingPoints ul li {
    padding: 20px;
  }

  .HomePageSellingPoints ul li svg {
    width: 48px;
  }

  .HomePageSellingPoints ul li h3 {
    font-size: 24px;
  }

  .HomePageSellingPoints ul li p {
    font-size: 16px;
  }

  .HomePageLatestSermon > div {
    grid-template-columns: 1fr;
  }

  .HomePageLatestSermon h2 {
    font-size: 28px;
  }

  .HomePageLatestSermon > div img {
    height: 100%;
    width: 100%;
  }

  .HomePageLatestSermon h4, .HomePageLatestSermon h3 {
    padding: 4px 0;
  }

  .HomePageEventsCircle {
    display: none;
  }

  .HomePageEventsHeader a {
    display: none;
  }

  .HomePageEvents ul li {
    flex: 0 0 100%;
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .HomePageEvents ul li img {
    height: 200px;
  }

  .HomePageEvents ul li > div h3 {
    font-size: 20px;
  }

  .HomePageEvents ul li p {
    font-size: 14px;
  }

  .HomePageEventsCountdown {
    padding: 60px 20px 0;
  }

  .HomePageEventsCountdownTimer {
    gap: 20px;
  }

  .HomePageEventsCountdownTimerItem h4 {
    font-size: 14px;
  }

  .HomePageEventsCountdownTimerItem div h3 {
    font-size: 16px;
    height: 40px;
    width: 25px;
  }

  .HomePageEventsMobileLink {
    align-items: center;
    background: linear-gradient(182deg, #FFF 15.32%, #EEF4FF 98.7%);
    border: 1px solid #f0f6ff;
    border-radius: 50rem;
    color: black;
    display: flex;
    gap: 8px;
    justify-content: center;
    text-decoration: none;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 16px 24px;
  }

  .HomePageEventsMobileLink svg {
    width: 16px;
    height: 16px;
  }

  .HomePageSneakPeek h2 {
    font-size: 32px;
  }

  .HomePageSneakPeek ul {
    gap: 16px;
  }

  .HomePageSneakPeek ul li {
    flex: 0 0 200px;
  }

  .HomePageTestimoniesHeader h2 {
    font-size: 32px;
  }

  .HomePageFeedback {
    gap: 200px;
    grid-template-columns: 1fr;
  }

  .HomePageFeedback form {
    grid-row: 1;
  }

  .HomePageFeedback form label input {
    padding: 8px 16px;
  }

  .HomePageFeedback form label textarea {
    padding: 16px;
  }
}

@media (max-width: 500px) {
  .HomePageHeroCircle {
    right: 20%;
  }
  
  .HomePageLatestSermon ul li h3 {
    font-size: 20px;
  }

  .HomePageLatestSermon ul li h4 {
    font-size: 12px;
  }

  .HomePageLatestSermon ul li:last-child {
    flex-direction: column;
    width: 100%;
  }

  .HomePageLatestSermon ul li:last-child a {
    font-size: 16px;
    width: 100%;
  }

  .HomePageEventsCountdownTimerItem:last-child {
    display: none;
  }

  .HomePagePrayersHands {
    width: 150px;
  }

  .HomePageSneakPeek ul li img {
    height: 300px;
  }

  .HomePageLeadershipContent img {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .HomePageHeroContentActions {
    flex-direction: column;
    gap: 16px;
  }

  .HomePageHeroContentActions a {
    width: 100%;
  }
}
