.PrayerRequestPopup {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  padding: 20px;
}

.PrayerRequestPopupContent {
  background: white;
  border-radius: 8px;
  max-width: 500px;
  margin: 40px auto;
  overflow: auto;
  width: 100%;
}

.PrayerRequestPopupHeader {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PrayerRequestPopupHeader div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.PrayerRequestPopupHeader h2 {
  line-height: 1.2;
}

.PrayerRequestPopupHeader button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.PrayerRequestPopupForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.PrayerRequestPopupForm label {
  color: #555;
  font-weight: bold;
}

.PrayerRequestPopupForm input,
.PrayerRequestPopupForm textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}

.PrayerRequestPopupForm button {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border: none;
  box-shadow: 0 31px 19px 0 rgba(255, 185, 30, 0.35), 0 14px 14px 0 rgba(255, 185, 30, 0.28), 0 3px 8px 0 rgba(255, 225, 159, 0.28);
  color: white;
  border-radius: 50rem;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  padding: 16px 24px;
  text-decoration: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.PrayerRequestPopupForm button:disabled {
  background: #ccc;
  box-shadow: none;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .PrayerRequestPopupContent {
    margin: 50px auto;
  }

  .PrayerRequestPopupHeader,
  .PrayerRequestPopupForm {
    padding: 16px;
  }
}
