
.LeadershipPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 120px 20px;
}

.LeadershipPage h2 {
  font-size: 40px;
}

.LeadershipPage ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.LeadershipPage ul li a {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 16px;
  gap: 8px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.LeadershipPage ul li:first-child {
  background-color: #fff0cd;
  border-radius: 16px;
  display: grid;
  gap: 20px;
  grid-column: span 3;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
}

.LeadershipPage ul li:first-child img {
  background-color: #e5e5e5;
  border-radius: 16px;
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.LeadershipPage ul li:first-child div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.LeadershipPage ul li:first-child div h3 {
  font-size: 28px;
}

.LeadershipPage ul li:first-child div p {
  font-size: 18px;
}

.LeadershipPage ul li:first-child div a {
  font-size: 18px;
  margin-top: auto;
}

.LeadershipPage ul li:not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.LeadershipPage ul li:not(:first-child) img {
  background-color: #e5e5e5;
  border-radius: 16px;
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.LeadershipPage ul li:not(:first-child) div {
  background-color: #fff0cd;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.LeadershipPage ul li:not(:first-child) div h3 {
  font-size: 24px;
}
