.GivePageHero {
  overflow-x: clip;
  padding: 0 20px;
  padding-top: calc(var(--header-height) + 20px);
}

.GivePageHeroCircle {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10%;
  transform: translateY(-50%);
  top: 100%;
  z-index: 2;
}

.GivePageHeroCircle img {
  animation: 10s 'rotate' linear infinite;
  position: absolute;
  z-index: -1;
}

.GivePageHeroCircle div {
  align-items: center;
  background: radial-gradient(133.33% 122.42% at 52.23% 0%, #FFB91E 0%, #FC8E33 54.74%);
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.GivePageHeroContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: 0 auto;
  max-width: calc(var(--content-max-width) - 40px);
  padding: 0 20px;
  position: relative;
}

.GivePageHeroContent > img {
  background-color: #ccc;
  border-radius: 16px;
  filter: brightness(0.6);
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.GivePageHeroContent h1 {
  color: white;
  font-size: 48px;
  padding: 20px;
}

.GivePageScripture {
  margin: 120px auto 0;
  max-width: calc(var(--content-max-width) - 40px);
  overflow-x: clip;
  padding: 100px 20px;
  position: relative;
}

.GivePageScripture p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1000px;
}

.GivePageScriptureLine {
  position: absolute;
  left: 0%;
  top: 0%;
  transform: translate(4.5%, 1%);
  width: 100%;
  z-index: -1;
}

.GivePageScriptureCircle {
  border: 5px dashed #fd9f2b;
  border-radius: 50%;
  height: 200px;
  position: absolute;
  top: 0%;
  transform: translate(-85%, -40%);
  width: 200px;
  z-index: -1;
}

.GivePageAccounts {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin: 0 auto 60px;
  max-width: calc(var(--content-max-width) - 40px);
  padding: 0 20px;
}

.GivePageAccountsToggle {
  align-items: center;
  border: 1px solid black;
  border-radius: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 12px;
  position: relative;
}

.GivePageAccountsToggleIndicator {
  background-color: #fd9f2b;
  border-radius: 50rem;
  height: calc(100% - 24px);
  left: 12px;
  position: absolute;
  transition: left 0.3s ease;
  width: calc(50% - 16px);
  z-index: -1;
}

.GivePageAccountsToggleIndicatorDomiciliary {
  left: calc(50% + 4px);
}

.GivePageAccountsToggleButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 24px;
}

.GivePageAccountsToggleButtonActive {
  color: white;
}

.GivePageAccounts ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  width: 100%;
}

.GivePageAccounts ul li {
  background-color: #ffecc0;
  border-radius: 16px;
  display: flex;
  height: 250px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.GivePageAccounts ul li img {
  background-color: white;
  border-radius: 16px;
  height: 80px;
  object-fit: cover;
  object-position: center 10%;
  width: 80px;
}

.GivePageAccounts ul li div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.GivePageAccounts ul li div:last-of-type {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.GivePageAccounts ul li div h3 {
  background-color: white;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: italic;
  padding: 8px 16px;
}

.GivePageAccounts ul li div:last-of-type h3 {
  background: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
}

.GivePageAccounts ul li div:last-of-type button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.GivePageAccounts ul li div:last-of-type button svg {
  height: 24px;
  width: 24px;
}

.GivePageAccounts ul li h4 {
  background-color: white;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  padding: 4px 8px;
}

.GiveOnline {
  overflow-x: clip;
  padding: 20px;
}

.GiveOnlineContent {
  border: 5px dashed #fd9f2b;
  border-bottom: 4.5px dashed #fd9f2b;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  margin: 100px auto;
  max-width: 1200px;
  min-height: 500px;
  padding: 40px;
  position: relative;
}

.GiveOnlineHands {
  background-color: white;
  padding: 48px 24px;
  position: absolute;
  right: -10%;
  top: -30%;
  width: 250px;
}

.GiveOnline div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.GiveOnline div h2 {
  font-size: 32px;
  max-width: 600px;
}

.GiveOnline div p {
  font-size: 18px;
  max-width: 600px;
  opacity: 0.8;
}

.GiveOnline div button {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50rem;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  padding: 4px 40px;
  text-decoration: none;
  width: max-content;
}

.GiveOnline div button img {
  height: 60px;
  width: auto;
}

@media (max-width: 1100px) {
  .GivePageHeroCircle {
    right: 10%;
  }

  .GivePageHeroCircle div {
    height: 60px;
    width: 60px;
  }

  .GivePageHeroCircle img {
    width: 150px;
  }

  .GivePageHeroCircle svg {
    height: 40px;
    width: 40px;
  }

  .GivePageAccounts ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .GivePageScriptureLine {
    display: none;
  }
}

@media (max-width: 750px) {
  .GivePageHero {
    padding: 0;
    padding-top: calc(var(--header-height));
  }

  .GivePageHeroContent {
    height: 200px;
  }

  .GivePageHeroContent > img {
    border-radius: 0;
  }

  .GivePageHeroContent h1 {
    font-size: 32px;
  }

  .GivePageScripture {
    margin: 60px 0 0;
  }

  .GivePageScriptureCircle {
    height: 120px;
    width: 120px;
  }

  .GivePageScripture p {
    font-size: 14px;
  }

  .GivePageAccountsToggle {
    padding: 8px;
  }

  .GivePageAccountsToggleIndicator {
    height: calc(100% - 16px);
    left: 8px;
    width: calc(50% - 16px);
  }

  .GivePageAccountsToggleIndicatorDomiciliary {
    left: calc(50% + 8px);
  }

  .GivePageAccountsToggleButton {
    font-size: 14px;
    padding: 12px;
  }

  .GivePageAccounts ul li {
    padding: 16px;
  }

  .GivePageAccounts ul li img {
    height: 60px;
    width: 60px;
  }

  .GivePageAccounts ul li div h3 {
    font-size: 16px;
    padding: 4px 8px;
  }

  .GivePageAccounts ul li div:last-of-type h3 {
    font-size: 20px;
  }

  .GiveOnlineContent {
    border: 3px dashed #fd9f2b;
  }

  .GiveOnlineHands {
    right: 0;
    top: -20%;
    width: 150px;
  }

  .GiveOnline svg {
    height: 50px;
    width: 50px;
  }

  .GiveOnline div h2 {
    font-size: 24px;
  }

  .GiveOnline div p {
    font-size: 16px;
  }

  .GiveOnline div button {
    font-size: 16px;
    padding: 4px 24px;
  }

  .GiveOnline div button img {
    height: 40px;
  }
}

@media (max-width: 550px) {
  .GivePageHeroCircle {
    right: 15%;
  }
}

@media (max-width: 450px) {
  .GivePageAccounts ul {
    padding: 0 8px;
    grid-template-columns: 1fr;
  }

  .GivePageAccounts ul li {
    height: 200px;
  }

  .GiveOnlineContent {
    padding: 20px;
  }
}
