.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.HeaderFilled {
  background-color: white;
}

.HeaderContent {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.HeaderLogo {
  width: 140px;
}

.Header nav {
  align-items: flex-end;
  border-radius: 50rem;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  gap: 16px;
  height: 50px;
  overflow: hidden;
  padding: 0 8px;
}

.Header nav ul {
  align-items: center;
  display: flex;
}

.Header nav ul li a {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 8px;
  height: 100%;
  padding: 0 32px;
  text-decoration: none;
}

.Header nav ul li a span {
  /* background-color: #fd9f2b; */
  border-radius: 50rem;
  height: 7px;
  width: 100%;
}

.Header nav button {
  align-items: center;
  align-self: center;
  background-color: black;
  border: none;
  border-radius: 50rem;
  color: white;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  gap: 8px;
  padding: 8px 26px;
}

.Header nav ul li button svg {
  width: 16px;
}
