.Header {
  max-height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: 0.5s transform ease-in-out, 0.2s background-color ease-in-out;
  width: 100%;
  z-index: 1000;
}

.HeaderLogoLink {
  display: flex;
}

.HeaderFilled {
  background-color: white;
}

.HeaderLogoDark {
  display: none;
}

.HeaderFilled .HeaderLogoDark {
  display: block;
}

.HeaderFilled .HeaderLogoWhite {
  display: none;
}

.HeaderDark {
  background-color: black;
}

.HeaderDark .HeaderLogoDark {
  display: none;
}

.HeaderDark .HeaderLogoWhite {
  display: block;
}

.HeaderContent {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.HeaderLogo {
  width: 140px;
}

.Header nav {
  align-items: flex-end;
  border-radius: 50rem;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  gap: 16px;
  height: 50px;
  overflow: hidden;
  padding: 0 8px;
}

.Header nav ul {
  align-items: center;
  display: flex;
  height: 100%;
}

.Header nav ul li {
  height: 100%;
}

.Header nav ul li a {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  justify-content: space-between;
  padding: 0 32px;
  text-decoration: none;
}

.Header nav ul li a div,
.Header nav ul li a span {
  border-radius: 50rem;
  height: 7px;
  width: 100%;
}

.HeaderCart {
  align-items: center;
  align-self: center;
  background-color: #fd9f2b;
  border: 1px solid white;
  border-radius: 50rem;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
}

.HeaderCart svg {
  height: 20px;
  width: 20px;
}

.HeaderCart span {
  align-items: center;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
}

.HeaderMenuToggle {
  align-items: center;
  align-self: center;
  background-color: black;
  border: none;
  border-radius: 50rem;
  color: white;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  gap: 8px;
  padding: 8px 26px;
}

.HeaderMenuToggle svg {
  width: 16px;
  height: 16px;
}

.Header nav ul li .HeaderLinkActive span{
  background-color: #fd9f2b;
}

.HeaderMenu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 60px 20px 60px 20px;
}

.HeaderMenuLinks {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.HeaderMenuLinks div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 20%;
}

.HeaderMenuLinks div h3 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.HeaderMenuLinks div ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.HeaderMenuLinks div ul li a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.HeaderMenuSlogan {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.HeaderMenuSlogan h3 {
  font-size: 32px;
  font-weight: 400;
}

.HeaderMenuSlogan p {
  font-size: 16px;
  font-style: italic;
}

.HeaderMenuSocials ul {
  display: flex;
  gap: 16px;
}

.HeaderMenuSocials ul li a {
  align-items: center;
  background-color: #fd9f2b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.HeaderMenuSocials ul li a svg {
  height: 24px;
  width: 24px;
}

.HeaderMenuSocials ul li:nth-child(3) a svg {
  height: 20px;
  width: 20px;
}

@media (max-width: 1200px) {
  .HeaderMenuLinks {
    flex-wrap: wrap;
    gap: 48px;
    justify-content: flex-start;
  }

  .HeaderMenuLinks div {
    width: 30%;
  }
}

@media (max-width: 950px) {
  .HeaderLogo {
    width: 120px;
  }

  .Header nav {
    gap: 0;
    height: max-content;
    padding: 0;
  }

  .Header nav ul {
    display: none;
  }

  .HeaderMenuToggle {
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 8px 20px;
  }

  .HeaderMenuToggle svg path {
    fill: black;
  }

  .HeaderDark .HeaderMenuToggle {
    background-color: white;
    color: black;
  }

  .HeaderDark .HeaderMenuToggle svg path {
    fill: black;
  }

  .HeaderMenuToggle svg {
    width: 16px;
  }
}

@media (max-width: 750px) {
  .HeaderContent {
    padding: 0 10px;
  }

  .HeaderMenu {
    padding: 64px 20px 20px 20px;
  }

  .HeaderMenuLinks {
    row-gap: 64px;
  }

  .HeaderMenuLinks div {
    width: 40%;
  }

  .HeaderMenuSlogan {
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  .HeaderMenuSlogan h3 {
    font-size: 28px;
  }

  .HeaderMenuSlogan p {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .HeaderMenuLinks div {
    width: 100%;
  }
}
